
html {
  font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #29303b;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#nav-div {
  background: #fff;
  display: block;
  position: sticky;
  top:0;
  z-index: 1010;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  max-width: 100vw;
  height: 72px;
  box-sizing: border-box;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  height: 72px;
  padding: 0 12px;
  align-items: center;
}

.cat-btn {
  font-size: 12px;
  font-weight: 400;
  height: 46px;
  border: none;
  background-color: #fff;
  padding: 0 12px;
}

.btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  border: none;
  background-color: #fff;
  letter-spacing: -0.02rem;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 2.5px;
  text-decoration: none;
  color:black;
}

.btn:hover {
  color: #5624d0;
}

.searchbar {
  display: flex;
  padding: 0;
  width: auto;
  height: 72px;
  align-items: center;
  flex-basis: 100%;
}

.nav1 {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  height: 72px;
  padding: 0 12px;
  align-items: center;
  flex-basis: 66%;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding: 0 12px;
  align-items: center;
  flex-grow: 3;
}

.input-area {
  padding-left: 10px;
  width: 100%;
  height: 46px;
  background: #f2f3f5;
  border: none;
  outline: none;
  border-radius: 0px 25px 25px 0px;
  border: 1px solid #29303b;
  border-left: 0px;
}

.input-area::placeholder {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.input-logo {
  color: gray;
  font-size: 16px;
  background-color: #f2f3f5;
  padding: 16px;
  border-radius: 25px 0px 0px 25px;
  border: 1px solid #29303b;
  border-right: 0px;
  cursor: not-allowed;
}

.btn-round:hover {
  color: #5624d0;
}

.lg-btn-o {
  border: 1px solid #1c1d1f;
  padding: 0 24px;
}
.lg-btn-o a{
  text-decoration: none;
  color: black;
}

.lg-btn-o:hover {
  color: #1c1d1f;
  background-color: rgba(0, 0, 0, 0.04);
}

.signin-btn {
  background: black;
  border: 1px solid #1c1d1f;
  color: #fff;
  padding: 0 24px;
}
.signin-btn a{
  color: #fff ;
  text-decoration: none;
}

.signin-btn:hover {
  color: #fff;
}

.globe {
  border: 1px solid #1c1d1f;
  padding: 0 12px;
}
.globe:hover{
  color: #1c1d1f;
  background-color: rgba(0, 0, 0, 0.04);
}

.cate-dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 0%;
  left: 100%;
}

.dropdown-content li {
  display: block;
}

.cate-dropdown:hover .dropdown-content {
  display: block;
}

.billboard {
  max-width: 1340px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 46px;
}
.billboard-pic{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content-box {
  background-color: #fff;
  position: absolute;
  top: 25%;
  left: 5%;
  width: 30%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  padding: 24px;
}

.banner-head {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: bold;
}

.banner-sub {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 80rem;
  font-size: 19px;
}

.section1 {
  padding: 0 24px;
  max-width: 1292px;
  margin: 0 auto;
}

.section1 h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.section1 p {
  font-size: 20px;
}

/* course carousel */
.carousel1{
  border: 1px solid #d1d7dc;
  padding: 33px;
}
.course-carousel {
  margin-bottom: 64px;
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  
}
.course-carousel::-webkit-scrollbar {
  display: none;
}
.scroll-item {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}
.main-content {
  width: 100%;
  color: #1c1d1f;
  white-space: normal;
  flex: 1;
  min-width: 1px;
}
.main-content h3 {
  margin-top: 8px;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 240px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.02rem;
  font-size: 16px;
}
.main-content .instructors {
  color: #6a6f73;
  font-size: 12px;
  font-weight: 400;
}
.rating .rating-no {
  font-weight: 700;
  line-height: 1.2;
  font-size: 14px;
  margin-right: 0.4rem;
  color: #b4690e;
}
.rating .stars {
  font-size: 12px;
}
.rating .reviews {
  line-height: 1.2;
  color: #6a6f73;
  font-size: 12px;
  font-weight: 400;
  margin-right: 0.4rem;
}
.bestseller {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 4px;
  gap: 4px 8px;
}
.bestseller .best {
  background-color: #eceb98;
  color: #3d3c0a;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
  font-size: 12px;
}
/* section 2 */
.gray-width {
  background-color: #f7f9fa;
  width: 100%;
}
.section2 {
  max-width: 1292px;
  margin: 0 auto;
}
.sec2items {
  display: flex;
  padding: 24px;
  justify-content: space-between;
}
.sec2item {
  display: flex;
  width: 344px;
  height: 40px;
  align-items: center;
}
.item-icon {
  display: flex;
  background-color: #d1d7dc;
  padding: 12px;
  margin-right: 12px;
  border-radius: 50%;
}
.item-des {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
}
.section3 {
  padding: 0 24px;
  max-width: 1292px;
  margin: 0 auto;
}
.section3 h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}

.sec3-empty{
  margin-top: 64px;
  margin-bottom: 96px;
}
/* Section 4 */
.section4{
  padding: 0 24px;
  max-width: 1292px;
  margin: 0 auto;
}
.section4 h2{
  margin-bottom: 24px;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 16px 0 32px;
  justify-content: space-between;
}
.categories a{
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
}
.categories a .cate-name{
  color: #1c1d1f;
    padding: 0.8rem 0 1.6rem;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}
/* Section 5 */
.section5{
  max-width: 1292px;
  margin: 0 auto;
  padding: 64px 24px;
}
.section5 h2{
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 24px;
}
.trending-topics-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: auto;
}
.trending-topic-category{
  width: calc(100%/4 - 16px);
  display: inline-block;
  padding-right: 8px;
  display: inline-block;
  margin-bottom: 24px;
}
.trending-topic-category h3{
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 19px;
  max-width: 600px;
}
.trending-topic{
  margin-top: 24px;
}
.trending-topic a{
  color: #5624d0;
  font-size: 16px;
  font-weight: 700;
}
.trending-topic-student-count{
  color: #6a6f73;
  font-size: 14px;
  margin-top: 8px;
}
.explore-topics{
  display: inline-flex;
  width: auto;
  height: 40px;
  align-items: center;
  padding: 00 12px;
}
/* Section 6 */
.section6{
  max-width: 1292px;
  margin: 0 auto;
  padding: 64px 24px;
}
.partners-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section6 h2 {
  max-width: none;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}
.partner-logos-container{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-self: normal;
  max-width: none;
  padding-left: 0;
  margin-top: 0;
  list-style: none;
}
.partner-logo{
  justify-self: center;
}
.partner-logo img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}
/* Section 7 */
.section7{
  margin: 0;
  padding: 40 0;
  margin-top: 64px;
}
.ud-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320;
}
.ud-container{
  display: flex;
}
.ud-img-desktop{
  display: flex;
  aspect-ratio: auto 400 / 400;
  max-width: 400px;
  vertical-align: middle;
}
.ud-busi-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  text-align: left;
  margin: 0 96px 0 0;
}
.ud-busi-header{
  text-align: left;
  width: 192px;
  aspect-ratio: auto 192 / 32;
  height: 32px;
}
.ud-busi-title{
  max-width: 600px;
  margin-bottom: 16px;
  font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
}
.ud-busi-features{
  margin-bottom: 16px;
  font-size: 19px;
}
.ud-busi-list{
  font-size: inherit;
  list-style: none;
}
.ud-busi-li{
  display: flex;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  white-space: normal;
  padding: 4px 0;
}
.ud-busi-li i{
  font-size: 10px;
  align-self: center;
  fill: currentColor;
  display: inline-block;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  color: #1c1d1f;
  min-height: 2.24rem;
}
.ud-busi-li-content{
  font-size: 19px;
  text-align: left;
  white-space: normal;
  flex: 1;
  min-width: 1px;
  min-height: 22px;
  margin-left: 16px;
}
.ud-busi-btn{
  display:flex;
}
/* Section 8 */
.section8{
  margin: 0;
  padding: 64px 0;
  margin-top: 64px;
}
.teach-ud{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320;
}
.teach-ud-img-container{
  display: flex;
}
.teach-ud-img{
  aspect-ratio: auto 400 / 400;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0 96px 0 0;
  display: flex;
}
.teach-ud-body{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  text-align: left;
}
.teach-ud-title{
  text-align: left;
  max-width: 600px;
  margin-bottom: 1.6rem;
  font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
}
.teach-ud-content{
  text-align: left;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1.6rem;
  font-size: 1.9rem;
}
.teach-ud-btn{
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
/* footer */
footer{
  display: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #1c1d1f;
  border-top: 1px solid #3e4143;
  color: #fff;
  padding-top: 24px;
  padding-left: 48px;
  padding-right: 48px;
}
.footer-links-language{
  display: flex;
}
.lang-selector{
  padding: 0 0 2.4rem;
  order: 1;
  flex-shrink: 0;
  margin-left: auto;
}
.lang-btn{
  background: black;
  color: #fff;
  padding: 0 16px;
  border: 1px solid white;
  justify-content: flex-start;
  min-width: 140px;
  font-weight: 400;
}
.lang-btn:hover{
  color: #fff;
  background-color: #2e2f31;
}
.footer-list{
  list-style: none;
  flex-basis: 256px;
  margin-right: 16px;
  margin-bottom: 0;
}
.footer-link{ 
  text-decoration: none;
  font-size: 14px;
  position: relative;
  align-items: center;
  border: none;
  display: inline-flex;
  background-color: transparent;
  vertical-align: baseline;
  white-space: normal;
  justify-content: flex-start;
  width: 100%;
  padding: 4px 0;
  color: #fff;
}
.logo-and-copyright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 32px;
}
.logo-container{
  display: flex;
  align-items: center;
}
.copyright{
  font-size: 12px;
}
/* Responsiveness */
@media screen and (max-width: 1080px) {
  .ud-busi {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .ud-teach {
    display: none;
  }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 375px) {
}
@media screen and (max-width: 575px) {
}
@media screen and (max-width: 600px) {
  /* section 4 */

  .categories{
    justify-content: center;
  }
   
  /* section 5 */



  /* section 6 */
  .partner-logos-container{
    list-style: none;
    grid-auto-flow: initial;
    grid-template-columns: repeat(3,3fr);
    grid-gap: 16px;
  }
  
    .section7{
    
      justify-content: center;
    }
    .ud-img-mobile{
      aspect-ratio: auto;
      max-width: 600px;
      width: 100%;
      height: auto;
      vertical-align: middle;
      margin: 0 auto 24px;
      display: inherit;
    }
    .ud-busi-header{
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      align-self: center;
      justify-self: center;
    }
    .ud-busi-title{
      text-align: center;
      font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
      justify-self: center;
      line-height: 1.35;
      padding: 0;
      margin: 0
      ;
    }
    .ud-container{
      flex-direction: column-reverse;
      justify-content: center;
      margin: 0;
    }
    .ud-busi-content{
      max-width: 100%;  
      text-align: center;
      justify-self: center;
      margin-right: 0;
      align-items: center;
    }
    .ud-busi-btn{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      
    }
    .section7 .btn{
      width: 100%;
      justify-content: center;
      margin: 8px 6px
    }
    .lg-btn-o{
      padding: 0;
    }
}

@media screen and (min-width:600px) and (max-width:980px) {
 /* Section 7 */
   .section7{    
      justify-content: center;
    }
    .ud-img-mobile{
      aspect-ratio: auto;
      max-width: 600px;
      width: 100%;
      height: auto;
      vertical-align: middle;
      margin: 0 auto 24px;
      display: inherit;
    }
    .ud-busi-header{
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      align-self: center;
      justify-self: center;
    }
    .ud-busi-title{
      text-align: center;
      font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
      justify-self: center;
      line-height: 1.35;
      padding: 0;
      margin: 0;
    }
    .ud-container{
      flex-direction: column-reverse;
      justify-content: center;
      margin: 0;
    }
    .ud-busi-content{
      max-width: 100vw;  
      text-align: center;
      justify-self: center;
      margin-right: 0;
      align-items: center;
    }
    .ud-busi-btn{
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;      
    }
    .section7 .btn{
      width: 50%;
      justify-content: center;
      margin: 8px 6px
    }
     .signin-btn{
      width: 100%;
    }
}
@media screen and (max-width: 700px) {
  footer{
    padding: 0 24px;
  }
  .lang-selector{
    padding: 24px 0;
    display: block;
  }
  .footer-links-language{
    display: block;
  }
  .footer-list{
    padding: 0;
    margin: 0;
  }
  .footer-link{
    padding: 4px 0;
  }
  .logo-and-copyright{
    display: block;
    padding: 0;
  }
  .logo-container{
    padding: 16px 0;
  }
  .copyright{
    padding: 0 0 16px;
  }
}

@media screen and (max-width:980px){
       /* Section 8 */
       .section8{
        margin: 0;
        padding: 64px 0;
        margin-top: 64px;
      }
      .teach-ud{
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 320; */
      }
      .teach-ud-img-container{
        display: flex;
        flex-direction: column;
      }
      .teach-ud-img{
        margin: 0;
        max-width: 600px;
        width: 100%;
        height: auto;
      }
      .teach-ud-body{
        margin: 0 auto;
        justify-content: center;
        max-width: 600px;
        text-align: center;
      }
      .teach-ud-title{
        
        text-align: center;
        max-width: 100%;
        margin-bottom: 16px;
      }
      .teach-ud-content{
        text-align: center;
      }
      .teach-ud-btn{
        text-align: center;
        justify-content: center;
      }
      .teach-ud-btn a{
        text-align: center;
        justify-content: center;
        width: 100%;
      }
      .section8 .btn a{
        width: 100%;
        align-items: center;
      }
       .signin-btn{
        margin: 0;
        padding: 0;
       }  
       .teach-ud-learn{
        margin: 0;
        padding: 0;
        width: 100%;
        align-items: center;
       }
}

@media screen and (max-width : 480px){

  /* section 2 */
  .section2{
    text-align: center;
  }
  .sec2items{
    flex-direction: column;

  }
  .sec2item{
    margin: 12px 0;
  }

  /* section 6 */
  .partners-container{
    text-align: center;
  }
  

}
