@font-face {
  font-family: "udemy sans";
  src: url("../fonts/Udemy-Sans-Regular-v1.ttf");
}

@font-face {
  font-family: "udemy sans";
  src: url("../fonts/Udemy-Sans-Bold-v1.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "SuisseWorks";
  src: url("../fonts/SuisseWorks-Bold-v1.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #29303b;
  background-color: #fff;
}

.btn {
  display: flex;
  align-items: center;
  height: 40px;
  border: none;
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 2.5px;
  padding: 0 8px;
  color: black;
}

.btn:hover {
  color: #5624d0;
}

.round {
  border-radius: 50px;
  margin: 8px 0 0 8px;
}

.round a {
  padding: 0 12px;
  font-size: 16px;
}

.gray-width {
  background-color: #f7f9fa;
  width: 100%;
}

/* navbar */
#nav-div {
  background: #fff;
  display: block;
  position: sticky;
  top: 0;
  z-index: 1010;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  max-width: 100vw;
  height: 72px;
  box-sizing: border-box;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  height: 72px;
  padding: 0 12px;
  align-items: center;
}

.mobile-nav {
  display: none;
  justify-content: space-between;
  max-width: 100vw;
  height: 72px;
  padding: 0 12px;
  align-items: center;
}

.mobile-nav img {
  margin-left: 72px;
}

.mobile-nav .menu {
  font-size: 20px;
}

.mobile-btns {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

.mobile-btns li {
  padding-left: 8px;
  font-size: 20px;
}

.next-btn {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 48px;
  color: #fff;
  background-color: #1c1d1f;
  min-width: auto;
  padding: 0 12px;
  width: 48px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #6a6f73;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
  right: -24px;
  top: 25%;
}

.prev-btn {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 48px;
  color: #fff;
  background-color: #1c1d1f;
  min-width: auto;
  padding: 0 12px;
  width: 48px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #6a6f73;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
  left: -24px;
  top: 25%;
  z-index: 1;
}

.cate-dropdown .cat-btn {
  height: 72px;
  border: none;
  background-color: #fff;
  padding: 0 12px;
  font-size: 14px;
}

/* NavBar */
.searchbar {
  display: flex;
  width: auto;
  height: 48px;
  align-items: center;
  flex-basis: 100%;
}

.nav1 {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  height: 72px;
  padding: 0 0 0 12px;
  align-items: center;
  flex-basis: 66%;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding: 0 12px 0 0;
  align-items: center;
  flex-grow: 3;
}

.input-area {
  padding-left: 10px;
  width: 100%;
  height: 46px;
  background: #f2f3f5;
  border: none;
  outline: none;
  border-radius: 0px 25px 25px 0px;
  border: 1px solid #29303b;
  border-left: 0px;
}

.input-area::placeholder {
  font-weight: 500;
  padding: 0;
}

.input-logo {
  color: gray;
  font-size: 12px;
  background-color: #f2f3f5;
  padding: 16px;
  border-radius: 25px 0px 0px 25px;
  border: 1px solid #29303b;
  border-right: 0px;
  cursor: not-allowed;
  height: 46px;
}

.btn-round:hover {
  color: #5624d0;
}

.lg-btn-o {
  border: 1px solid #1c1d1f;
  padding: 0 16px;
  font-weight: 700;
}

.lg-btn-o a {
  text-decoration: none;
  color: black;
}

.lg-btn-o:hover {
  color: #1c1d1f;
  background-color: rgba(0, 0, 0, 0.04);
}

.signin-btn {
  font-weight: 700;
  background: black;
  border: 1px solid #1c1d1f;
  color: #fff;
  padding: 0 16px;
}

.signin-btn a {
  color: #fff;
  text-decoration: none;
}

.signin-btn:hover {
  color: #fff;
}

.globe {
  border: 1px solid #1c1d1f;
  padding: 0 12px;
}

.globe:hover {
  color: #1c1d1f;
  background-color: rgba(0, 0, 0, 0.04);
}

.cate-dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 260px;
  min-height: 640px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
  border: 1px solid #d1d7dc;
  padding: 8px 0;
  font-size: 14px;
}

.dropdown-content ul {
  padding: 8px 0;
}

.cate1 {
  position: relative;
}

.cate-drop {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 260px;
  border: 1px solid #d1d7dc;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-height: 640px;
  z-index: -1;
  top: -1px;
  left: 100%;
}

.cate:hover>.cate-drop {
  display: block;
}
.cate2:hover>.cate-drop{
  display: block;
}

.cate-dropdown:hover .dropdown-content {
  display: block;
}

.cate {
  font-size: inherit;
  padding-left: 0;
  margin-top: 0;
}

.cate-link {
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  vertical-align: bottom;
  background-color: transparent;
  min-width: auto;
  display: flex;
  width: 100%;
  height: auto;
  text-align: left;
  letter-spacing: normal;
  white-space: normal;
  color: #1c1d1f;
  padding: 8px 16px;
}

.level2-heading{
  font-weight: 700;
  font-size: 14px;
  color: #6a6f73;
  padding: 16px 16px 0;
}

/* BillBoard */
.billboard {
  max-width: 1340px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 46px;
}

.billboard-pic {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content-box {
  background-color: #fff;
  position: absolute;
  top: 25%;
  left: 5%;
  width: 30%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  padding: 24px;
}

.banner-head {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  font-size: 32px;
  font-weight: bold;
}

.banner-sub {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 80rem;
  font-size: 19px;
}

/* Section 1 */
.section1 {
  padding: 0 24px;
  max-width: 1340px;
  margin: 0 auto;
}

.section1 h2 {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  font-size: 32px;
}

.section1 p {
  font-size: 20px;
  margin-bottom: 0;
}

.carousel-container {
  position: relative;
}

.topic-container {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: 16px;
  overflow-y: hidden;
}

.topic-container::-webkit-scrollbar {
  display: none;
}

.topic-item {
  min-width: 1px;
  scroll-snap-align: start;
}

.topic-title {
  font-weight: 700;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  vertical-align: bottom;
  white-space: nowrap;
  height: 48px;
  min-width: auto;
  padding: 8px 4px;
  position: relative;
  width: 100%;
  border: none;
  background: 0 0;
  font-size: 16px;
  color: #6a6f73;
}

.topic-title:hover {
  color: #1c1d1f;
}

.active-topic {
  color: #1c1d1f;
}

.carousel1 {
  border: 1px solid #d1d7dc;
  /* padding: 33px; */
}

.course-carousel {
  margin-bottom: 64px;
  display: grid;
  grid-auto-columns: 20%;
  grid-auto-flow: column;
  /* grid-gap: 16px; */
  overflow-x: auto;
  overflow-y: hidden;
  padding: 16px;

}

.course-carousel::-webkit-scrollbar {
  display: none;
}

.scroll-item {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  padding: 16px;
}


.section1:hover .popover-root {
  display: block;
}

/* popover */
.popover-root {
  position: absolute;
  z-index: 1000;
  display: none;
  top: 565px;
  left: 25%;
}

.popover-container {
  display: block;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
  padding: 24px;
  margin-left: 20px;
  width: 340px;
}

.popover-inner {
  position: relative;
  z-index: 1;
}

.popover-heading {
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
  color: #1c1d1f;
}

.popover-heading:hover {
  color: #5624d0;
}

.course-details-quick-view-box {
  margin-top: 8px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.course-details-quick-view-box .bestseller {
  margin-right: 12px;
}

.updated-on {
  font-size: 12px;
  color: #1e6055;
}

.stats {
  font-size: 12px;
  margin-top: 8px;
  color: #6a6f73;
}

.quick-view-headline {
  font-size: 14px;
  margin-top: 8px;
}

.course-details-objectives {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.li-content {
  display: flex;
  width: 100%;
  height: auto;
  text-align: left;
  letter-spacing: normal;
  white-space: normal;
  align-items: flex-start;
  padding: 4px 0;
  column-gap: 8px;
  color: #1c1d1f;
}

.li-content i {
  padding: 4px;
}


.popover-buttons {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.add-to-cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-to-cart button {
  display: inline-flex;
  min-width: 80px;
  padding: 0 12px;
  justify-content: center;
  white-space: nowrap;
  height: 48px;
  color: #fff;
  background-color: #a435f0;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
}

.add-to-cart button:hover{
  background-color: #8710d8;
  color: #fff;
}

.wishlist-container{
  display: flex;
  flex-direction: column;
}

.wishlist{
  display: inline-flex;
  justify-content: center;
  padding: 0 12px;
  height: 48px;
}

.wishlist button{
  
  position: relative;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  vertical-align: bottom;
  white-space: nowrap;
  height: 48px;
  border: 1px solid #1c1d1f;
  min-width: auto;
  padding: 0 12px;
  width: 48px;
  border-radius: 50%;
  color: #1c1d1f;
  font-size: 20px;
}

.wishlist button:hover{
  background-color: rgba(0,0,0,.04);
  color: #1c1d1f;
}

.popover-arrow-container {
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);

}

.popover-arrow {
  position: absolute;
  top: 179.765px;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(255, 255, 255);
}

/* Scroll item contents */
.thumbnail{
  width: 100%;
}
.thumbnail img {
  border: 1px solid #d1d7dc;
  width: 100%;
  height: auto;
  aspect-ratio: auto;
}

.main-content {
  /* width: auto; */
  color: #1c1d1f;
  white-space: normal;
  flex: 1;
  min-width: 1px;
}

.main-content h3 {
  margin-top: 8px;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 240px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.02rem;
  font-size: 16px;
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.main-content .instructors {
  color: #6a6f73;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.rating .rating-no {
  font-weight: 700;
  line-height: 1.2;
  font-size: 14px;
  margin-right: 0.4rem;
  color: #b4690e;
}

.rating .stars {
  font-size: 12px;
}

.rating .reviews {
  line-height: 1.2;
  color: #6a6f73;
  font-size: 12px;
  font-weight: 400;
  margin-right: 0.4rem;
}

.bestseller {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 4px;
  gap: 4px 8px;
  font-weight: 700;
}

.bestseller .best {
  background-color: #eceb98;
  color: #3d3c0a;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
  font-size: 12px;
}

.bestseller .hi-rate {
  background-color: #f3ca8c;
  color: #4d3105;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
  font-size: 12px;
}

/* section 2 */
.section2 {
  max-width: 1340px;
  margin: 0 auto;
}

.sec2items {
  display: flex;
  padding: 24px;
  justify-content: space-between;
}

.sec2item {
  display: flex;
  max-width: 344px;
  height: 40px;
  align-items: center;
  margin-top: 8px;
}

.item-icon i {
  font-size: medium;
  text-align: center;
}

.item-icon {
  display: flex;
  background-color: #d1d7dc;
  padding: 12px;
  margin-right: 12px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.item-des {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
}

/* Section 3 */
.section3 {
  padding: 0 24px;
  max-width: 1340px;
  margin: 0 auto;
}

.section3 h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  padding-bottom: 16px;
}

.sec3-empty {
  margin-top: 64px;
  margin-bottom: 96px;
}

/* Section 4 */
.section4 {
  padding: 0 24px;
  max-width: 1340px;
  margin: 0 auto;
}

.section4 h2 {
  margin-bottom: 24px;
}

.categories-mobile {
  display: none;
  flex-wrap: wrap;
  padding: 0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories a {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  width: 20%;
  margin: 0 16px 16px 0;
}

.categories a img {
  max-width: 100%;
  height: auto;
}

.categories a .cate-name {
  color: #1c1d1f;
  padding: 0.8rem 0 1.6rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

/* Section 5 */
.section5 {
  max-width: 1340px;
  margin: 0 auto;
  padding: 64px 24px;
}

.section5 h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 24px;
}

.trending-topics-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trending-topic-category {
  width: calc(100% / 4 - 16px);
  display: inline-block;
  padding-right: 8px;
  display: inline-block;
  margin-bottom: 24px;
}

.trending-topic-category h3 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 19px;
  max-width: 600px;
}

.trending-topic {
  margin-top: 24px;
}

.trending-topic a {
  color: #5624d0;
  font-size: 16px;
  font-weight: 700;
}

.trending-topic-student-count {
  color: #6a6f73;
  font-size: 14px;
  margin-top: 8px;
}

/* Section 6 */
.section6 {
  max-width: 1340px;
  margin: 0 auto;
  padding: 64px 24px;
}

.section6 h2 {
  max-width: none;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

.partners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner-logos-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-self: normal;
  max-width: none;
  padding-left: 0;
  margin-top: 0;
  list-style: none;
}

.partner-logo {
  justify-self: center;
}

.partner-logo img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Section 7 */
.section7 {
  margin: 0;
  padding: 40 0;
  margin-top: 64px;
}

.ud-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320;
}

.ud-container {
  display: flex;
}

.ud-img-desktop {
  display: flex;
  aspect-ratio: auto 400 / 400;
  max-width: 400px;
  vertical-align: middle;
}

.ud-busi-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  text-align: left;
  margin: 0 96px 0 0;
}

.ud-busi-header {
  text-align: left;
  width: 192px;
  aspect-ratio: auto 192 / 32;
  height: 32px;
}

.ud-busi-title {
  max-width: 600px;
  margin-bottom: 16px;
  font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
}

.ud-busi-features {
  margin-bottom: 16px;
  font-size: 19px;
}

.ud-busi-list {
  font-size: inherit;
  list-style: none;
}

.ud-busi-li {
  display: flex;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  white-space: normal;
  padding: 4px 0;
}

.ud-busi-li i {
  font-size: 10px;
  text-align: end;
  line-height: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #1c1d1f;
  min-height: 20px;
}

.ud-busi-li-content {
  font-size: 19px;
  text-align: left;
  white-space: normal;
  flex: 1;
  min-width: 1px;
  min-height: 22px;
  margin-left: 16px;
}

.ud-busi-btn {
  display: flex;
}

/* Section 8 */
.section8 {
  margin: 0;
  padding: 64px 0;
  margin-top: 64px;
}

.teach-ud {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320;
}

.teach-ud-img-container {
  display: flex;
}

.teach-ud-img {
  aspect-ratio: auto 400 / 400;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0 96px 0 0;
  display: flex;
}

.teach-ud-body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  text-align: left;
}

.teach-ud-title {
  text-align: left;
  max-width: 600px;
  margin-bottom: 1.6rem;
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
}

.teach-ud-content {
  text-align: left;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 16px;
  font-size: 16px;
}

.teach-ud-btn {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

/* footer */
footer {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #1c1d1f;
  border-top: 1px solid #3e4143;
  color: #fff;
  padding-top: 24px;
  padding-left: 48px;
  padding-right: 48px;
}

.footer-links-language {
  display: flex;
}

.lang-selector {
  padding: 0 0 2.4rem;
  order: 1;
  flex-shrink: 0;
  margin-left: auto;
}

.lang-btn {
  background: black;
  color: #fff;
  padding: 0 16px;
  border: 1px solid white;
  justify-content: flex-start;
  min-width: 140px;
}

.lang-btn:hover {
  color: #fff;
  background-color: #2e2f31;
}

.footer-list {
  list-style: none;
  flex-basis: 256px;
  margin-right: 16px;
  margin-bottom: 0;
}

.footer-link {
  text-decoration: none;
  font-size: 14px;
  position: relative;
  align-items: center;
  border: none;
  display: inline-flex;
  background-color: transparent;
  vertical-align: baseline;
  white-space: normal;
  justify-content: flex-start;
  width: 100%;
  padding: 4px 0;
  color: #fff;
}

.logo-and-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 32px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.copyright {
  font-size: 12px;
}

/* Responsiveness */
@media screen and (max-width:1200px) {
  .course-carousel{
    grid-auto-columns: 25%;
  }
  
}
@media screen and (max-width: 1080px) {
  .ud-busi {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .ud-teach {
    display: none;
  }

  .content-box {
    top: 0;
    left: 0;
    display: block;
    position: relative;
    max-width: 100%;
    width: auto;
    box-shadow: none;
    padding: 0 24px;
    margin: 0;
  }

  .banner-sub {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 980px) {

  .course-carousel{
    grid-auto-columns: 33.33%;
  }
  /* Section 8 */
  .section8 {
    margin: 0;
    padding: 64px 0;
    margin-top: 64px;
  }

  .teach-ud {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 320; */
  }

  .teach-ud-img-container {
    display: flex;
    flex-direction: column;
  }

  .teach-ud-img {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 0 auto 24px;
  }

  .teach-ud-body {
    margin: 0 auto;
    justify-content: center;
    max-width: 600px;
    text-align: center;
  }

  .teach-ud-title {
    text-align: center;
    max-width: 100%;
    margin-bottom: 16px;
  }

  .teach-ud-content {
    text-align: center;
  }

  .teach-ud-btn {
    text-align: center;
    justify-content: center;
  }

  .teach-ud-btn a {
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .section8 .btn a {
    width: 100%;
    align-items: center;
  }

  .teach-ud-learn {
    margin: 0;
    padding: 0;
    width: inherit;
    align-items: center;
  }

  .section8 .btn {

    justify-content: center;
    margin: 8px 6px;
    width: 50%;
  }
}

@media  screen and (max-width:930px) {
  .cate2>.cate-link>i{
    display: none;
  }
  .cate2>.cate-link+.cate-drop{
    display:none;
  }
}

@media screen and (max-width: 840px) {
  .section1:hover .popover-root{
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .mobile-nav {
    display: flex;
  }

  .nav-content {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 980px) {

  /* Section 7 */
  .section7 {
    justify-content: center;
  }

  .ud-img-mobile {
    aspect-ratio: auto;
    max-width: 600px;
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 0 auto 24px;
    display: inherit;
  }

  .ud-busi-header {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    align-self: center;
    justify-self: center;
  }

  .ud-busi-title {
    text-align: center;
    font-family: SuisseWorks, Georgia, Times, times new roman, serif,
      apple color emoji, segoe ui emoji, segoe ui symbol;
    justify-self: center;
    line-height: 1.35;
    padding: 0;
    margin: 0;
  }

  .ud-container {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0;
  }

  .ud-busi-content {
    max-width: 100vw;
    text-align: center;
    justify-self: center;
    margin-right: 0;
    align-items: center;
  }

  .ud-busi-btn {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .section7 .btn {
    width: 50%;
    justify-content: center;
    margin: 8px 6px;
  }


}

@media screen and (min-width: 600px) and (max-width: 700px) {
  .section4 .categories a {
    width: 30%;
  }

  .section4 .categories a img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .course-carousel{
    grid-auto-columns: 50%;
  }
  .sec2items {
    flex-direction: column;
  }

  .sec2item {
    max-width: 100%;
    padding: 8px 0;
  }

  .item-des {
    width: 100%;
  }

  footer {
    padding: 0 24px;
  }

  .lang-selector {
    padding: 24px 0;
    display: block;
  }

  .footer-links-language {
    display: block;
  }

  .footer-list {
    padding: 0;
    margin: 0;
  }

  .footer-link {
    padding: 4px 0;
  }

  .logo-and-copyright {
    display: block;
    padding: 0;
  }

  .logo-container {
    padding: 16px 0;
  }

  .copyright {
    padding: 0 0 16px;
  }
}

@media screen and (max-width: 600px) {

  /* section 4 */
  .categories {
    display: none;
  }

  .categories-mobile {
    display: flex;
  }

  /* section 5 */
  .section5 {
    padding: 32px 24px;
  }

  .trending-topics-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .trending-topic-category {
    display: inline-block;
    width: 50%;
    padding: 0;
  }

  .explore-topics {
    width: 100%;
  }

  .explore-topics .btn {
    width: 100%;
    justify-content: center;
  }

  /* section 6 */
  .partner-logos-container {
    list-style: none;
    grid-auto-flow: initial;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 16px;
  }

  /* section 7 */
  .section7 {
    justify-content: center;
  }

  .ud-img-mobile {
    aspect-ratio: auto;
    max-width: 600px;
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 0 auto 24px;
    display: inherit;
  }

  .ud-busi-header {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    align-self: center;
    justify-self: center;
  }

  .ud-busi-title {
    text-align: center;
    line-height: 1.35;
    padding: 0;
    margin: 0;
  }

  .ud-container {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0;
  }

  .ud-busi-content {
    max-width: 100%;
    text-align: center;
    justify-self: center;
    margin-right: 0;
    align-items: center;
  }

  .ud-busi-btn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .section7 .btn {
    width: 96%;
    justify-content: center;
    margin: 8px 6px;
  }

  .signin-btn {
    padding: 0;
  }

  .lg-btn-o {
    padding: 0;
  }

  .section8 .btn{
    width: 96%;
}
}

@media screen and (max-width: 480px) {

  /* section 2 */
  .section2 {
    text-align: center;
  }

  .sec2items {
    flex-direction: column;
  }

  .sec2item {
    margin: 12px 0;
  }

  /* section 6 */
  .partners-container {
    text-align: center;
  }
}